@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans+Condensed:wght@300&display=swap');

:root {
    --primary-color: #011f1f;
    --lightDark: #ECFDF5;
    --dark: #2b2a2a;
    --offWhite: #F3F4F6;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
}

/* container */

.center-container {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 600px;
    margin: auto;
}

.fluid-container {
    padding-left: 1rem;
    padding-right: 1rem;
}


/* Links */
.links {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: blueviolet;
}

.link-active {
    border: 1px solid var(--offWhite);

}
.lang-world{
    text-decoration: none;
    color: var(--offWhite);
}
.primary-links {
    background-color: var(--primary-color);
    color: azure;
    border: 1px solid var(--primary-color);
    margin-right: 1rem;
}

.secondary-links {
    color: var(--primary-color);
    background-color: azure;
    border: 1px solid var(--primary-color);
}


/* Lists */
.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* Nav */
.navigation {
    background-color: var(--primary-color);
    padding: 1rem;
    color: white;
    border-bottom-right-radius: 2rem;
}

.navigation .nav-brand {
    font-weight: bold;
}

.navigation .links {
    color: white;
}

.navigation .nav-pills {
    text-align: right;
}

.special-font {
    font-family: "Comic Sans MS";
}

/* image */
.hero {
    text-align: center;
    margin: 2rem;
}

.hero-image-wakanda {
    border-radius: 40%;
    height: 300px;
    width: 200px;
}

.hero-image-dothraki{
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

.italic{
    color: var(--primary-color);
}
/* translation */
textarea {
    width: 80%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
    display: flex;
}

#output {
    border: 1px solid black;
    width: 80%;
    height: 10vh;
    margin: 1rem;
    padding: 1rem;
}


/* footer */
.footer {
    text-align: center;
    background-color: var(--primary-color);
    margin-top: 2rem 0rem;
    padding: 2rem;
    color: var(--offWhite);
    border-top-right-radius: 2rem;
}
.social-links{
    font-size: 40px;
    color: var(--offWhite);
    margin: 01rem;
    padding: 0.5rem 0.8rem;
}

.github:hover{
    color: blueviolet;
}
.insta:hover{
    color: rgb(206, 24, 100);
}
.linkedin:hover{
    color: rgb(20, 78, 202);
}


/* button */
#btn-translate {
    margin-left: 4vh;
    color: var(--offWhite);
    background-color: var(--primary-color);
    font-family: "Comic Sans MS";
    border-radius: 20px;
    height: 2rem;
}

#out-text {
    margin-left: 2vh;
    padding: 1rem;
}